[req]
distinguished_name  = req_dn
req_extensions	    = v3_req
default_bits   	    = 2048

[v3_req]
keyUsage            = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage    = serverAuth, clientAuth
basicConstraints    = CA:FALSE
subjectKeyIdentifier= hash
subjectAltName	    = @alt_names

[req_dn]

[alt_names]
{% for d in domain.subs %}
DNS.{{ loop.index }}={{ d }}.{{ domain.name }}
{% endfor %}
